@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Exo:400,700");
header {
  height: 1.07rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

header, footer a {
  cursor: pointer;
}

.logo {
  height: 88rem;
  background-color: #F2F5F9;
  width: 100%;
  text-align: center;
  padding: 8rem 0rem 0rem 0rem;
}

header img {
  height: 80rem;
  width: 300rem;
  object-fit: cover;
}

header ul {
  height: 39rem;
  background-color: #FF5757;
  color: white;
  display: flex;
  font-size: 12.63rem;
}

.lists {
  display: flex;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

header li {
  list-style-type: none;
  display: inline-block;
  margin: 0 38rem;
  text-align: center;
  font-size: 16.63rem;
}

.list {
  color: white;
}

.hover_action {
  position: relative;
}

.hover_action::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  padding-bottom: 1px;
  background: white;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}

.hover_action:hover::after {
  transform: scale(1, 1);
}

footer {
  width: 100%;
  z-index: -1;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80rem;
}

.company {
  margin-left: 40rem;
  font-size: 16rem;
  width: 400rem;
}

.img2 {
  height: 80rem;
  width: 300rem;
  object-fit: cover;
}

footer {
  background-color: #FF5757;
  height: 80rem;
}

.footer-introduction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20rem;
  width: 400rem;
}

.footer-introduction li {
  margin-right: 10rem;
  font-size: 14px;
  color: #fff;
}

.official {
  text-align: center;
  font-size: 20rem;
}

.introduce {
  position: relative;
}

.introduce::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  padding-bottom: 1px;
  background: white;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}

.introduce:hover::after {
  transform: scale(1, 1);
}

.sns {
  display: inline-block;
  text-align: center;
  width: 400rem;
  margin: 0 auto;
}

/* Icons */
.sns a {
  color: #fff;
  background: #FF5757;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-family: fontawesome;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 25px;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-font-smoothing: antialiased;
}

.sns img {
  position: absolute;
  width: 30rem;
  height: 30rem;
  top: 4rem;
  right: 4rem;
}

/* pop-up text */
.sns a span {
  color: #fff;
  position: absolute;
  font-family: sans-serif;
  bottom: 0;
  left: -25px;
  right: -25px;
  padding: 5px 7px;
  z-index: -1;
  font-size: 14px;
  border-radius: 50px;
  background: #FF5757;
  visibility: hidden;
  opacity: 0;
  -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* pop-up text arrow */
/* text pops up when icon is in hover state */
.sns a:hover span {
  bottom: 65px;
  visibility: visible;
  opacity: 1;
}

/* font awesome icons */
.sns a:nth-of-type(1):hover {
  background-color: #1da1f1;
}

.sns a:nth-of-type(2):hover {
  background-color: #dd3367;
}

.sns a:nth-of-type(3):hover {
  background-color: #02c153;
}

.sns a:nth-of-type(4):hover {
  background-color: #d6d6d6;
}

@media screen and (max-width: 1170px) {
  footer {
    height: 100rem;
  }

  .sns {
    width: 400rem;
    text-align: center;
    margin: 0 auto;
  }

  .footer {
    height: 100rem;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  .footer-introduction {
    margin: 0 auto 20rem auto;
    width: 400rem;
    text-align: center;
  }

  .company {
    margin: 0 auto;
    width: 400rem;
    text-align: center;
  }

  .sns a:hover span {
    visibility: hidden;
  }
}
@media screen and (max-width: 610px) {
  footer {
    width: 100%;
    height: 100rem;
  }

  .sns {
    top: 30%;
  }

  .footer {
    width: 100%;
    height: 100rem;
    align-items: flex-end;
  }

  ul .footer-introduction {
    margin-bottom: 20rem;
    margin: 20rem;
  }

  .company {
    margin: 0 auto;
    text-align: center;
    width: 200rem;
  }

  .sns {
    width: 100%;
  }

  .sns a {
    margin: 0rem;
  }

  .footer-introduction li {
    margin: 0 5rem;
  }

  .sns a:hover span {
    visibility: hidden;
  }
}
html {
  font-size: 6.25%;
}

.wrap {
  animation: fadein 3s forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  margin: 0px;
  padding: 0px;
}

.context {
  width: 100%;
  position: absolute;
  top: 50vh;
}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50rem;
}

.area {
  background: #FF5757;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 90vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20rem;
  height: 20rem;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150rem;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80rem;
  height: 80rem;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20rem;
  height: 20rem;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20rem;
  height: 20rem;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60rem;
  height: 60rem;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20rem;
  height: 20rem;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110rem;
  height: 110rem;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150rem;
  height: 150rem;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25rem;
  height: 25rem;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15rem;
  height: 15rem;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150rem;
  height: 150rem;
  animation-delay: 0s;
  animation-duration: 11s;
}

.section-content a {
  padding-top: 70rem;
}

.section-content a span {
  position: absolute;
  top: 150%;
  left: 50%;
  width: 44rem;
  height: 44rem;
  margin-left: -12px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 1.5s infinite;
  animation: sdb 1.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
.abc {
  font-weight: bold;
}

.reLoad {
  font-size: 15rem;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  padding: 0 10rem;
  display: block;
  width: 100rem;
  height: 30rem;
  position: absolute;
  left: 1000rem;
  color: #fff;
  background: #FF5757;
  box-shadow: 0 8rem 15rem 0 #000;
  transition: 0.3s;
  border-radius: 20rem;
  text-align: center;
}

.reLoad:hover {
  box-shadow: none;
  transform: translate3d(0, 8px, 0);
}

@media screen and (max-width: 1270px) {
  .reLoad {
    left: 900rem;
  }

  .context h1 {
    font-size: 40rem;
  }
}
@media screen and (max-width: 1150px) {
  .reLoad {
    left: 800rem;
  }
}
@media screen and (max-width: 1140px) {
  .reLoad {
    margin: 0 auto;
    position: initial;
  }
}
@media screen and (max-width: 550px) {
  .context h1 {
    font-size: 30rem;
  }

  #Q {
    font-size: 12rem;
  }

  #openModal {
    font-size: 14rem;
    width: 200rem;
    margin-right: 0;
  }

  .answer_box {
    font-size: 12rem;
  }

  .enia {
    font-size: 12rem;
  }

  .form {
    width: 300rem;
    height: 150rem;
  }
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
.personality_contents {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 18rem;
  margin: 30rem 0;
}

.personality_area {
  width: 80%;
  padding: 30rem;
}

#openModal {
  font-size: 20rem;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  padding: 0 10rem;
  display: block;
  width: 300rem;
  height: 50rem;
  margin: 30rem auto;
  color: #fff;
  background: #FF5757;
  box-shadow: 0 8rem 15rem 0 #000;
  transition: 0.3s;
  border-radius: 20rem;
  text-align: center;
  position: relative;
}

#openModal:hover {
  box-shadow: none;
  transform: translate3d(0, 8px, 0);
}

.anata {
  display: flex;
  justify-content: center;
  margin: 20rem auto;
}

#kotae {
  margin: 20rem auto;
  width: 40%;
  font-size: 20rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  border-bottom: solid 3px #FF5757;
}

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.kakko {
  width: 55%;
}

.answer_box {
  margin: 20rem 0;
  width: 100%;
  padding: 0.5em 1em;
  background: -moz-linear-gradient(#ffb03c, #FF5757);
  background: -webkit-linear-gradient(#ffb03c, #FF5757);
  background: linear-gradient(to right, #ffb03c, #FF5757);
  color: #FFF;
  border-radius: 20rem;
}

@media (max-width: 600px) {
  header .lists {
    /* 横スクロールを表示 */
    overflow-x: scroll;
    margin: 0;
    white-space: nowrap;
  }

  header li {
    margin: 0rem;
    padding: 10rem 60rem 10rem 0;
  }

  .logo {
    margin: 0;
  }

  header ul {
    display: block;
    padding: 0 16rem;
  }

  #openModal {
    font-size: 14rem;
    width: 200rem;
  }

  h1 {
    width: 80%;
    margin: 0 auto;
  }

  #kotae {
    font-size: 10rem;
    width: 80%;
  }
}
.form {
  width: 500rem;
  height: 180rem;
  margin: 0 auto;
  text-align: center;
}

.form-word {
  font-size: 25rem;
  color: #FF5757;
  font-weight: bold;
}

.yajirusi {
  margin: 20rem 0 10rem 0;
}

.arrow-bottom {
  margin-top: 20rem;
  font-size: 30rem;
  animation: updown 2s infinite ease-in-out;
  color: #FF5757;
}

@keyframes updown {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -30px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.kanyuu {
  position: relative;
  color: #FF5757;
  font-size: 30rem;
  font-weight: bold;
}

.kanyuu::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  padding-bottom: 1px;
  background: #FF5757;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}

.kanyuu:hover::after {
  transform: scale(1, 1);
}

@media (max-width: 600px) {
  .form {
    width: 300rem;
    height: 100rem;
  }

  .kanyuu {
    font-size: 20rem;
    width: 200rem;
    height: 100rem;
  }

  .arrow-bottom {
    font-size: 20rem;
  }
}

/*# sourceMappingURL=free.css.map */
