header {
  height: 1.07rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

header, footer a {
  cursor: pointer;
}

.logo {
  height: 88rem;
  background-color: #F2F5F9;
  width: 100%;
  text-align: center;
  padding: 8rem 0rem 0rem 0rem;
}

header img {
  height: 80rem;
  width: 300rem;
  object-fit: cover;
}

header ul {
  height: 39rem;
  background-color: #FF5757;
  color: white;
  display: flex;
  font-size: 12.63rem;
}

.lists {
  display: flex;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

header li {
  list-style-type: none;
  display: inline-block;
  margin: 0 38rem;
  text-align: center;
  font-size: 16.63rem;
}

.list {
  color: white;
}

.hover_action {
  position: relative;
}

.hover_action::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  padding-bottom: 1px;
  background: white;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}

.hover_action:hover::after {
  transform: scale(1, 1);
}

footer {
  width: 100%;
  z-index: -1;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80rem;
}

.company {
  margin-left: 40rem;
  font-size: 16rem;
  width: 400rem;
}

.img2 {
  height: 80rem;
  width: 300rem;
  object-fit: cover;
}

footer {
  background-color: #FF5757;
  height: 80rem;
}

.footer-introduction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20rem;
  width: 400rem;
}

.footer-introduction li {
  margin-right: 10rem;
  font-size: 14px;
  color: #fff;
}

.official {
  text-align: center;
  font-size: 20rem;
}

.introduce {
  position: relative;
}

.introduce::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  padding-bottom: 1px;
  background: white;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}

.introduce:hover::after {
  transform: scale(1, 1);
}

.sns {
  display: inline-block;
  text-align: center;
  width: 400rem;
  margin: 0 auto;
}

/* Icons */
.sns a {
  color: #fff;
  background: #FF5757;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-family: fontawesome;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 25px;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-font-smoothing: antialiased;
}

.sns img {
  position: absolute;
  width: 30rem;
  height: 30rem;
  top: 4rem;
  right: 4rem;
}

/* pop-up text */
.sns a span {
  color: #fff;
  position: absolute;
  font-family: sans-serif;
  bottom: 0;
  left: -25px;
  right: -25px;
  padding: 5px 7px;
  z-index: -1;
  font-size: 14px;
  border-radius: 50px;
  background: #FF5757;
  visibility: hidden;
  opacity: 0;
  -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* pop-up text arrow */
/* text pops up when icon is in hover state */
.sns a:hover span {
  bottom: 65px;
  visibility: visible;
  opacity: 1;
}

/* font awesome icons */
.sns a:nth-of-type(1):hover {
  background-color: #1da1f1;
}

.sns a:nth-of-type(2):hover {
  background-color: #dd3367;
}

.sns a:nth-of-type(3):hover {
  background-color: #02c153;
}

.sns a:nth-of-type(4):hover {
  background-color: #d6d6d6;
}

@media screen and (max-width: 1170px) {
  footer {
    height: 100rem;
  }

  .sns {
    width: 400rem;
    text-align: center;
    margin: 0 auto;
  }

  .footer {
    height: 100rem;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  .footer-introduction {
    margin: 0 auto 20rem auto;
    width: 400rem;
    text-align: center;
  }

  .company {
    margin: 0 auto;
    width: 400rem;
    text-align: center;
  }

  .sns a:hover span {
    visibility: hidden;
  }
}
@media screen and (max-width: 610px) {
  footer {
    width: 100%;
    height: 100rem;
  }

  .sns {
    top: 30%;
  }

  .footer {
    width: 100%;
    height: 100rem;
    align-items: flex-end;
  }

  .footer-introduction {
    margin-bottom: 20rem;
    margin-right: 20rem;
  }

  .company {
    margin: 0 auto;
    text-align: center;
    width: 200rem;
  }

  .sns {
    width: 100%;
  }

  .sns a {
    margin: 0rem;
  }

  .footer-introduction li {
    margin: 0 5rem;
  }

  .sns a:hover span {
    visibility: hidden;
  }
}
html {
  font-size: 6.25%;
}

/*# sourceMappingURL=products.css.map */
