html{
    font-size: 6.25%;
}

body{
background-color: aqua;

}

// ヘッダー
header{
    height:1.07rem;
    position: fixed;
    width: 100%;
    top:0;
    z-index: 1;
}

a{
    cursor: pointer;
}

.logo {
    height: 88.0rem;
    background-color: #F2F5F9;
    width: 100%;
    text-align: center;
    // margin:0 120rem;
    padding:8rem 0rem 0rem 0rem;
}

header img{
    height: 80rem;
    width: 300rem;
    object-fit: cover;
}

header ul{
    height: 39rem;
    background-color: #FF5757;
    color: white;
    display: flex;
    font-size: 12.63rem;
}

.lists{
    // margin: 0 135rem;
    display: flex;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

header li{
    list-style-type: none;
    display: inline-block;
    margin:0 38rem;
    text-align: center;
    font-size: 16.63rem;
}

.list{
    color: white;
}

.hover_action{
    position: relative;
}
.hover_action::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    padding-bottom: 1px;
    background: white;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
  }
  .hover_action:hover::after {
    transform: scale(1, 1);
  }

// クイズ
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.quiz-wrapper{
  background-color: #FF5757;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500rem;
}

.quiz-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10rem 2rem rgba(100, 100, 100, 0.1);
  overflow: hidden;
  width: 800rem;
  max-width: 100%;
//   display: unset;
}

#quiz-header {
  padding: 40rem;
}

h2 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

.questions li {
//   font-size: 1.2rem;
  margin: 10rem 0;
}

ul li input {
  cursor: pointer;
}

ul li label {
  cursor: pointer;
}

#question{
    font-size: 20rem;
}
.questions{
    font-size: 20rem;
}
button {
  background-color: #304dec;
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: 20rem;
  width: 100%;
  padding: 13rem 13rem 13rem 40rem;
}

button:hover {
  background-color: #233bc4;
}

#results-container {
  display: none;
  align-items: center;
}

#results-header {
  text-align: center;
  justify-content: center;
}

#results {
  padding: 20rem 0;
  font-size: 20rem;
}

#


@media(max-width:600px) {
    header .lists{
    /* 横スクロールを表示 */
    overflow-x: scroll;
    margin: 0;
    white-space: nowrap;
    }

    header  li{
        margin: 0rem;
        padding: 10rem 60rem 10rem 0;
    }

    .logo{
        margin: 0;
    }

    header ul{
        display: block;
        padding: 0 16rem;
    }
}