html{
    font-size: 6.25%;
}

body{
background-color: aqua;

}

// ヘッダー
header{
    height:1.07rem;
    position: fixed;
    width: 100%;
    top:0;
    z-index: 1;
}

a{
    cursor: pointer;
}

.logo{
    height: 28.5rem;
    // background-color: white;
    margin:0 120rem;
    padding:17rem 16rem 27rem 16rem;
}

header img{
    height: 50rem;
}

header ul{
    height: 39rem;
    background-color: #333333;
    color: white;
    display: flex;
    font-size: 12.63rem;
}

.lists{
    margin: 0 135rem;
    align-self: center;
}

header li{
    list-style-type: none;
    display: inline-block;
    margin-right: 58rem;
    font-size: 12.63rem;
}

.list{
    color: white;
}