@use "../partial-sass/header";
@use "../partial-sass/footer";

html{
  font-size: 6.25%;
}

.ayumi{
  display: flex;
  margin: 160rem auto 0rem auto;
  width: 500rem;
  text-align: center;
  font-size: 40rem;
  background-color: #FF5757;
  border-radius: 50rem;
  height: 80rem;
  align-items: center;
  justify-content: center;
  color: white;
}
// ここからタイムライン
.title{
  font-weight: bold;
}
.timeline {
    width: 96%;
    max-width: 600rem;
    margin: 0 auto 130rem auto;
    position: relative;
    // border: 1px solid #eeeeee;
    
    &-list {
        padding: 40rem 0;
        padding-left: 80rem;
        
        &-item {
            display: flex;
            
            line-height: 1.5;
            font-size: 16rem;


        &-1{
            animation-name:fadeInAnime;
animation-duration:1s;
animation-fill-mode:forwards;
opacity:0;
            .date {
                width: 20%;
                padding: 0 0 0 20rem;
                color: #888888;
                font-weight: bold;
                white-space: nowrap;
            }
            
            .content {
                position: relative;
                width: 80%;
                padding: 0 20rem 60rem 30rem;
                border-left: 1rem solid #aaaaaa;
                white-space: nowrap;
                
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: -10rem;
                    width: 20rem;
                    height: 20rem;
                    background-color: #FF5757;
                    border-radius: 10rem;
                }
            }
        }
        &-2{
            animation-name:fadeInAnime;
            animation-duration:1s;
            animation-fill-mode:forwards;
            opacity:0;
            animation-delay: 0.3s;
  
            .date {
                width: 20%;
                padding: 0 0 0 20rem;
                color: #888888;
                font-weight: bold;
                white-space: nowrap;
            }
            
            .content {
                position: relative;
                width: 80%;
                padding: 0 20rem 60rem 30rem;
                border-left: 1rem solid #aaaaaa;
                white-space: nowrap;
                
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: -10rem;
                    width: 20rem;
                    height: 20rem;
                    background-color: #FF5757;
                    border-radius: 10rem;
                }
            }
        }
        &-3{
            animation-name:fadeInAnime;
animation-duration:1s;
animation-fill-mode:forwards;
opacity:0;
            animation-delay: 0.6s;

            .date {
                width: 20%;
                padding: 0 0 0 20rem;
                color: #888888;
                font-weight: bold;
                white-space: nowrap;
            }
            
            .content {
                position: relative;
                width: 80%;
                padding: 0 20rem 60rem 30rem;
                border-left: 1rem solid #aaaaaa;
                white-space: nowrap;
                
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: -10rem;
                    width: 20rem;
                    height: 20rem;
                    background-color: #FF5757;
                    border-radius: 10rem;
                }
            }
        }
        &-4{
            animation-name:fadeInAnime;
animation-duration:1s;
animation-fill-mode:forwards;
opacity:0;
            animation-delay: 0.9s;      
            .date {
                width: 20%;
                padding: 0 0 0 20rem;
                color: #888888;
                font-weight: bold;
                white-space: nowrap;
            }
            
            .content {
                position: relative;
                width: 80%;
                padding: 0 20rem 60rem 30rem;
                border-left: 1rem solid #aaaaaa;
                white-space: nowrap;
                
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: -10rem;
                    width: 20rem;
                    height: 20rem;
                    background-color: #FF5757;
                    border-radius: 10rem;
                }
            }
        }
        &-5{
           
          
            opacity : 0;
            transition: opacity 1s;

            .date {
                width: 20%;
                padding: 0 0 0 20rem;
                color: #888888;
                font-weight: bold;
                white-space: nowrap;
            }
            
            .content {
                position: relative;
                width: 80%;
                padding: 0 20rem 60rem 30rem;
                border-left: 1px solid #aaaaaa;
                white-space: nowrap;
                
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: -10rem;
                    width: 20rem;
                    height: 20rem;
                    background-color: #FF5757;
                    border-radius: 10rem;
                }
            }
        }
        &-6{
           
          
            opacity : 0;
            transition: opacity 1s;

            .date {
                width: 20%;
                padding: 0 0 0 20rem;
                color: #888888;
                font-weight: bold;
                white-space: nowrap;
            }
            
            .content {
                position: relative;
                width: 80%;
                padding: 0 20rem 60rem 30rem;
                border-left: 1rem solid #aaaaaa;
                white-space: nowrap;
                
                &::before {
                    content: "";
                    position: absolute;
                    top: -5rem;
                    left: -15rem;
                    width: 30rem;
                    height: 30rem;
                    background-color: red;
                    border-radius: 15rem;
                    
                }
            }
        }

        &-7{
           
          
          opacity : 0;
          transition: opacity 1s;

          .date {
              width: 20%;
              padding: 0 0 0 20rem;
              color: #888888;
              font-weight: bold;
              white-space: nowrap;
          }
          
          .content {
              position: relative;
              width: 80%;
              padding: 0 20rem 60rem 30rem;
              border-left: 1rem solid #aaaaaa;
              white-space: nowrap;
              
              &::before {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: -10rem;
                  width: 20rem;
                  height: 20rem;
                  background-color: #000;
                  border-radius: 10rem;
              }
          }
      }
            .view{
                opacity: 1;
            }
            
        }
    }
}


.fade{
    margin-top: 80vh;
    text-align: center;
    opacity : 0;
    transition: opacity 3s;
  }
   
  .fade.view{
    opacity: 1;
  }

  @keyframes fadeInAnime{
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

  a.btn--red {
    background-color: #FF5757;
    // border: 2px solid #9f000c;
    margin-top: 8rem;
  }

  a.btn-c:hover{
    background-color: orange;
  }
  
  a.btn-c {
    display: flex;
    justify-content: center;
    align-items: center;
    // font-size: rem;
    position: relative;
    padding: 6rem 12rem 12rem 6rem;
    color: #fff;
    border-radius: 100vh;
    // -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
    // box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
  }
  
  // a.btn-c:before {
  //   font-family: 'Font Awesome 5 Free';
  //   font-size: 1.6rem;
  //   line-height: 1;
  //   position: absolute;
  //   top: calc(50% - .8rem);
  //   right: 1rem;
  //   margin: 0;
  //   padding: 0;
  //   content: '\f30b';
  // }

  .timeline img{
    position: absolute;
    animation-name:fadeInAnime;
    animation-duration:3s;
    animation-fill-mode:forwards;
    opacity:0;
  }

  .image-1{
      width: 370rem;
      height: 250rem;
      object-fit: cover;
      top: 0rem;
      left: -410rem;
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }

  .image-2{
    width: 300rem;
    height: 350rem;
    object-fit: cover;
    top: 0rem;
    left: 550rem;
    animation-delay: 0.3s;
    border-radius: 60% 60% 70% 50% / 70% 50% 30% 40%;
}

.image-3{
  width: 350rem;
  height: 270rem;
  object-fit: cover;
  top: 30rem;
  left: -410rem;
  animation-delay: 0.6s;
  border-radius: 30% 70% 60% 40% / 30% 40% 60% 40%;
}


.image-4{
  width: 370rem;
  height: 250rem;
  object-fit: cover;
  top: 50rem;
  left: 550rem;
  animation-delay: 0.9s;
  border-radius: 40% 60% 60% 40% / 50% 40% 60% 50%
}

.image-5{
  width: 370rem;
  height: 250rem;
  object-fit: cover;
  top: 70rem;
  left: -410rem;
  border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%
}

.image-6{
  width: 350rem;
  height: 250rem;
  object-fit: cover;
  top: 50rem;
  left: 550rem;
  animation-delay: 0.9s;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%
}


@media screen and (max-width: 1350px) {
  .timeline {
    margin: 130rem auto;
  }

  .timeline-list{
    margin: 0 auto;
    padding-left: 0;
  }

  .image-1{
    width: 250rem;
    height: 170rem;
    top: 0rem;
    left: 500rem;
  }

  .image-2{
    width: 230rem;
    height: 250rem;
    top: 0rem;
    left: 600rem;
  }

  .image-3{
    width: 250rem;
    height: 170rem;
    top: 50rem;
    left: 500rem;
  }
  .image-4{
    width: 250rem;
    height: 170rem;
    top: 50rem;
    left: 580rem;
  }

  .image-5{
    width: 300rem;
    height: 250rem;
    top: 60rem;
    left: 500rem;
  }

  .image-6{
    width: 250rem;
    height: 170rem;
    top: 90rem;
    left: 580rem;
  }
}

@media screen and (max-width: 1100px) {
  .timeline {
    margin: 0rem auto 130rem auto;
  }

  .timeline-list{
    margin: auto;
    padding-left: 20rem;
  }



  .image-1{
    width: 300rem;
    height: 200rem;
  }

  .image-2{
    width: 250rem;
    height: 260rem;
  }

  .image-3{
    width: 300rem;
    height: 200rem;
  }
  .image-4{
    width: 300rem;
    height: 200rem;
  }

  .image-5{
    width: 300rem;
    height: 250rem;
  }

  .image-6{
    width: 290rem;
    height: 200rem;
  }

  .timeline img{
    position: initial;
    margin-top: 20rem;
    margin-left: 30rem;

  }
}

@media screen and (max-width: 550px) {
  .timeline {
    margin: 0;
    margin-left: 10rem;
  }

  .timeline-list{
    margin:0;
    padding-left: 0rem;
    max-width: 300rem;
  }

  .timeline-list-item{
    font-size: 10rem;
  }

  .image-1{
    width: 250rem;
    height: 180rem;
  }

  .image-2{
    width: 250rem;
    height: 260rem;
  }

  .image-3{
    width: 250rem;
    height: 180rem;
  }
  .image-4{
    width: 250rem;
    height: 180rem;
  }

  .image-5{
    width: 250rem;
    height: 180rem;
  }

  .image-6{
    width: 250rem;
    height: 170rem;
  }

  .timeline img{
    position: initial;
    margin-top: 20rem;
    margin-left: 30rem;

  }

  .ayumi{
    display: flex;
    margin: 160rem auto 0rem auto;
    width: 300rem;
    text-align: center;
    font-size: 20rem;
    background-color: #FF5757;
    border-radius: 30rem;
    height: 50rem;
    align-items: center;
    justify-content: center;
    color: white;
  }
}


